* {
    box-sizing: border-box;
}

:root {
    font-size: 18px;
    --primary: #aaf6;
}

body {
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
}

body.transition::before {
    content: "";
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #aaf;
    z-index: 100;
    animation-name: transition;
    animation-duration: 480ms;
    animation-iteration-count: 1;
}

ol {
    padding: 0;
    list-style-type: none;
}

/* Menu */

main.menu {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #222;
    font-family: monospace;
    background-color: #fff;
    padding: 2em 0;
}

main.menu h1 {
    background: #afa8;
    margin: 0;
    text-align: center;
    height: 30%;
    padding: 0 2em;
    display: grid;
    place-items: center;
    text-transform: uppercase;
}

main.menu menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 1.2ch;
    width: 100%;
    padding: 0 2em;
}

main.menu button {
    display: block;
    font-size: 18px;
    padding: 1ch 2em;
    border: 1px solid #aaa;
    border-radius: 4px;
    background: #fff;
}

.t {
    height: 100vh;
}


/* Game */

main {
    display: flex;
    flex-direction: column;
}

main section.time-out-bar {
    background: var(--primary);
    height: 8vh;
    display: flex;
    align-items: center;
    padding: 2ch;
    gap: 2ch;
}

main section.time-out-bar span {
    display: flex;
    height: 3.2ch;
    border-radius: 12px;
    border: 1px solid #77c2;
    box-sizing: border-box;
    min-width: 9ch;
}

main section.time-out-bar span.bar {
    padding: 1ch;
    background-color: #aaf2;
    width: 100%;
    transform: scale(1);
    overflow: hidden;
    &::before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(var(--fill, 0%));
        background: #dfd;
    }
}

main section.time-out-bar span.time {
    font-size: 1em;
    align-items: center;
    background-color: #aaf2;
    padding: 1ch 0;
    justify-content: center;
}

main section.question-mark {
    background: #afa6;
    height: 32vh;
    display: grid;
    place-items: center;
}

main section.question-mark p {
    max-width: 80%;
    padding: 2ch;
}

main section.options-mark {
    height: 52vh;
    background-color: var(--primary);
    padding: 2ch 2ch;
    
}

main section.options-mark ol {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 1.6ch;
    overflow-y: scroll;
    margin: 0;
    padding: 0ch 2ch 0ch 0;
    border-radius: 12px;
    border-top: #aaf8 1px solid;
    border-bottom: #aaf8 1px solid;
}

main section.options-mark ol li {
    padding: 2ch;
    border-radius: 6px;
    border: #aaf8 1px solid;
    box-shadow: #88d2 2px 2px;
    line-height: 1.4em;
    transition: 240ms;
}

nav {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    padding: 2ch;
    align-items: center;
    background-color: #aaf6;
    border-top: #aaf8;
}

nav button {
    padding: 1ch 2ch;
}

.active {
    background-color: #afa8;
    box-shadow: #afa8 4px 4px !important;
}

/* Animations */

@keyframes transition {
    50% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}       

main.result {
    padding: 2ch;
    display: flex;
    flex-direction: column;
    gap: 2ch;
}

main.result button {
    padding: 2ch;
}